.mainCard {
  justify-self: center;
  background-color: rgb(240, 241, 240);
  max-width: fit-content;
  color: black;
  border: 2.5px solid rgb(98, 199, 140);
  border-radius: 5px;
  text-align: center;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.cardTitle {
  max-width: auto;
  max-height: auto;
}

.picture {
  max-width: 15cm;
  max-height: 15cm;
}
