.rently {
  text-align: left;
}

.name {
  text-align: left;
}
.price {
  text-align: left;
}
.location {
  text-align: left;
}
.days {
  text-align: left;
}
.deposit {
  text-align: left;
}
.damage {
  text-align: left;
}
.button {
  text-align: left;
}
