ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
li {
  border: 3px solid rgb(2, 15, 8);
  border-radius: 5px;
  background-color: rgb(170, 230, 194);
}
a {
  text-decoration: none;
  color: black;
}
