nav {
  display: flex;
  max-height: 2.5cm;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: rgb(42,128,99);
  background: linear-gradient(90deg, rgba(42,128,99,1) 0%, rgba(37,108,63,1) 40%, rgba(36,112,66,1) 88%, rgba(0,255,158,1) 100%);
}
h1{
  color:antiquewhite;
  justify-self: start;
  margin-left: 30px;
}
p{
  color: black;
}

ul{
  display:grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: end;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-shadow: 1px 1px 2px lightgray;
}
