.rently {
  color: rgb(14, 56, 38);
}
form {
  border: 3px solid rgb(17, 51, 37);
  border-radius: 5px;
  margin: 3rem auto;
  display: flex;
  background: rgb(191, 218, 192);
  flex-direction: column;
  max-width: fit-content;
  color: #6eac95;
  padding: 50px;
  position: relative;
}
label {
  text-justify: left;
  color: rgb(49, 110, 21);
}
input {
  justify-content: right;
  left: 13%;
}
button {
  color: rgb(49, 110, 21);
  background: rgb(191, 218, 192);
}

.create {
  color: rgb(14, 56, 38);
}
.username {
  padding: 2px;
}
