form {
  border: 3px solid rgb(17, 51, 37);
  border-radius: 5px;
  margin: 3rem auto;
  display: flex;
background-color: white;
  flex-direction: column;
  max-width: fit-content;
  color: #6eac95;
  padding: 50px;
  position: relative;
}
label {
  justify-self: start;
  color: rgb(49, 110, 21);
}
input {
  justify-content: end;
  left: 13%;
}

.create {
  color: rgb(14, 56, 38);
}
.username {
  padding: 2px;
}
.head {
  color: rgb(14, 56, 38);
}
