form {
  border: 3px solid rgb(17, 51, 37);
  border-radius: 5px;
  margin: 2rem auto;
  display: flex;
  background: rgb(255, 251, 251);
  flex-direction: column;
  max-width: fit-content;
  color: rgb(14, 56, 38);
}
label {
  text-justify: left;
  color: black;
}
input {
  justify-content: right;
}

.create {
  color: rgb(14, 56, 38);
}
