form{
    border: 2.5px solid rgb(0, 128, 75);
    border-radius: 5px;
    margin: 1rem auto;
    display: flex;
    background: rgb(255, 251, 251);
    flex-direction: column;
    max-width: fit-content;
    
}
label{
    text-justify: left;
    color: black;
}
input{
    justify-content: right;
}